<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <span routerLink="">MyQuant</span>
    <button mat-button [matMenuTriggerFor]="menu">TradeData</button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="trade-data-search">Search</button>
        <button mat-menu-item>Item 2</button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="menu2">Indicator</button>
    <mat-menu #menu2="matMenu">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="menu3">TextEditor</button>
    <mat-menu #menu3="matMenu">
        <button mat-menu-item >Angular Editor</button>
        <button mat-menu-item>Item 2</button>
    </mat-menu>

    <span class="example-spacer"></span>

    <span routerLink="login" *ngIf="!authService.isLoggedIn">Login</span>
    <span (click)="logout()" *ngIf="authService.isLoggedIn">Logout</span>


    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
    </button>
</mat-toolbar>